<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (submit)="apply()">
      <!-- partners -->
      <mat-autocomplete
        #partnerAuto="matAutocomplete"
        [displayWith]="getLookupName"
      >
        <mat-option *ngFor="let partner of partners$ | async" [value]="partner" (onSelectionChange)="addToPartners(partner)">
          {{ partner.name }}
        </mat-option>
      </mat-autocomplete>

      <!-- act type -->
      <!-- family (autocomplete) -->
      <!-- company (autocomplete) -->
      <!-- place (autocomplete) -->
      <!-- label -->

      <!-- archive -->
      <!-- book (autocomplete) -->
      <!-- book years -->
      <!-- book description -->

      <!-- categories -->
      <!-- professions -->
      <!-- partners -->
      <div>
        <h4>partners</h4>
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="partner"
            [formControl]="partner"
            [matAutocomplete]="partnerAuto"
          />
        </mat-form-field>
        <!-- <button
          type="button"
          mat-icon-button
          [disabled]="!partner.value"
          matTooltip="Add to partners"
          (click)="addToPartners(partner.value)"
        >
          <mat-icon>add_circle</mat-icon>
        </button> -->
        <table>
          <tbody>
            <tr *ngFor="let p of partners; let i = index">
              <td>
                <button
                  type="button"
                  mat-icon-button
                  color="warn"
                  (click)="removePartner(i)"
                >
                  <mat-icon>clear</mat-icon>
                </button>
              </td>
              <td>
                {{ p.name }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </mat-card-content>
</mat-card>
