<header>
  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="start center">
    <span style="flex: 0 0 60px"
      ><img src="./assets/img/cafoscari-logo-40.png" alt="Ca' Foscari"
    /></span>
    <a mat-button routerLink="/home">Home</a>

    <a mat-button routerLink="/acts">Acts</a>

    <span class="tb-fill-remaining-space"></span>
  </mat-toolbar>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div layout="row" layout-align="center center">
    <p>
      Census Online Demo Web App -
      <a href="https://www.unive.it/pag/39287" target="_blank"
        >Venice Centre for Digital and Public Humanities</a
      >
    </p>
    <p>
      <a href="https://www.unive.it" target="_blank"
        >Ca' Foscari University of Venice</a
      >
      -
      <a href="https://www.unive.it/pag/27720/" target="_blank"
        >Department of Humanities</a
      >
      -
      <a href="https://www.unive.it/pag/28130" target="_blank"
        >Department of Management</a
      >
    </p>
  </div>
</footer>
