<div>
  <div id="banner">
    <h1>Online Census</h1>
  </div>
  <div style="margin: 0 16px">
    <article>
      <img src="./assets/img/cafoscari.png" />
      <img src="./assets/img/vedph.png" />
      <h2>Private Account Books in Renaissance Florence</h2>
      <p>
        Welcome to the Online Census 1211-1499 demo. This is a no-frills
        application to just show the potential of a more interactive approach to
        the archive. The application was created in a couple of days to
        accompany and just the presentation of the database, and as such its
        only purpose is showing the general intents of the project in its
        digital form.
      </p>
      <p>
        Currently, we just show the list of acts with any number of combined
        filters. Also, note that each filter is smart enough to take care of
        text features we don't consider to be relevant, like e.g. diacritics or
        case differences. More pages could be provided with specific subjects,
        like persons, families, professions, and the like.
      </p>
      <p>
        Amost all the filters involving text-based searches, except those
        related to a well-defined and closed set of entries (like the list of
        the archives), provide real-time search while typing. Just start typing
        a few letters of the name you are looking for to be used as a filter,
        and you will get a list of matches continuously updated while you type.
        Once you find the desired name, pick it to add it as a filter.
      </p>
      <p>
        Also, export features now are not yet enabled, as we're going to define
        a set of criteria to provide users with the best experience according to
        the most used scenarios.
      </p>
      <p>
        Please navigate to the <a routerLink="/acts">acts</a> list to play with
        this demo.
      </p>
    </article>
  </div>
</div>
