#banner {
  height: 258px;
  background-image: url("/assets/img/banner-1024.jpg");
  background-size: cover;
  margin-bottom: 8px;
}
#banner h1 {
  position: relative;
  padding-top: 40px;
  width: auto;
  text-align: center;
  font-size: 100px;
  font-weight: normal;
  letter-spacing: -5px;
  color: #c0c5a4;
}
article {
  text-align: center;
  margin: 16px 48px;
}
footer a {
  text-decoration: none;
}
